html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  padding-right: 7px;
  text-decoration: none;
  color: black;
}

i {
  font-size: 17px;
  padding: 3px;
}

h1 {
  padding: 10px;
  margin: 5px;
  font-size: 32px;
  padding-bottom: 30px;
}

em {
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-style: italic;
}

p {
  padding: 17px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 24px;
}

.mainbody {
  top: 50%;
  /* IMPORTANT */
  left: 50%;
  /* IMPORTANT */
  display: block;
  position: absolute;
  width: 750px;
  height: 249px;
  text-align: center;
  margin-top: -124.5px;
  /* HALF OF THE HEIGHT */
  margin-left: -375px;
  /* HALF OF THE WIDTH */
}

.left {
  float: left;
  padding-left: 25px;
  font-size: 26px;
}

.right {
  float: right;
  padding-right: 32px;
  font-size: 13px;
  display: -webkit-inline-box;

}

.right-nav {
  text-align: center;
  margin: 5px;
  text-decoration: none;
  color: black;
}

.right-nav:hover {
  cursor: pointer;
}

.hover-color:hover {
  color: rgb(202, 120, 13);
}

.title {
  cursor: pointer;
}

.eat-mid:hover,
.drink-mid:hover,
.visit-mid:hover {
  border-bottom: 1px solid;
  text-decoration: none;
  list-style: none;
  text-decoration-style: none;

}

.header {
  padding-top: 25px;
  width:100%;
  position: fixed;

}

.table-button {
  color: white;
  background-color: rgb(68, 66, 66);
  text-align: center;
  letter-spacing: 2.5px;
  margin: auto;
  padding: 15px;
  font-size: 13px;
  width: 200px;
  height: 47px;
  border: 2px solid rgb(68, 66, 66);
  border-radius: 4px;
  margin-bottom: 100px;
  margin-top: 50px;
  cursor: pointer;
}

.contact-title,
.location-title,
.hours-title {
  font-style: italic;
  font-size: 14px;
  margin: 10px;
  padding: 10px;
  font-weight: bolder;
  color: black;

}

.contact,
.location,
.hours {
  padding: 40px;
  margin: 40px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  line-height: 24px;

}

.dessert-img,
.drink-img {
  height: 450px;
  width: auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

hr.thin {
  height: 1px;
  border: 0;
  color: #333;
  background-color: #333;
  width: 100%;
  margin-bottom: 60px;
}

.title-footer {
  font-size: 40px;
  padding: 15px;
  margin: 15px;

}

.social-nav:hover {
  cursor: pointer;

}

.res-button {
  text-align: center;
  letter-spacing: 2.5px;
  margin: auto;
  padding: 15px;
  font-size: 13px;
  width: 300px;
  height: 47px;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 100px;
  margin-top: 100px;
  cursor: pointer;
}

.social-div {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  font-size: 22px;
}

.social-hovered {
  opacity: 0.4;
}

#instagram,
#facebook,
#twitter {
  height: 20px;
  width: auto;
}

.drink-button {
  text-align: center;
  letter-spacing: 2.5px;
  margin: auto;
  padding: 15px;
  font-size: 13px;
  width: 300px;
  height: 47px;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 100px;
  margin-top: 25px;
  cursor: pointer;
}

.eat-button {
  text-align: center;
  letter-spacing: 2.5px;
  margin: auto;
  padding: 15px;
  font-size: 13px;
  width: 300px;
  height: 47px;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 25px;
  margin-top: 100px;
  cursor: pointer;
}

#table_button {
  color: white;
}

.logout {

  text-decoration: none;
  color: black;
  border-width: 0;
  background-color: white;
  float: right;
  margin: 0;
  right: 1px;
  font-size: 13px;
}

.logout:hover {

  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.imgtitle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 3em;
  cursor: pointer;
  font: inherit;
  text-decoration: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .5s;

}

.image {
  line-height: 0;


}

.container:hover .imgtitle:hover {
  opacity: 1;
  font-size: 3em;
  cursor: pointer;
}

.image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.container:hover .image img {
  filter: blur(3px);
}

#table_button {
  color: white;
}
.product-item{
  text-align: center;
  padding: auto;
}

.mango a img {
    display : block;
    margin : auto;
}

.mango{
   width: auto;
    height:400px;
    overflow:hidden;

}
.product-quantity ,.members{
  background-color: rgb(68, 66, 66);
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  border: #E0E0E0 1px solid;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
label{
  font-weight: bold;
}
.left-product{
  font-size: x-large;
margin-bottom: 15px;
letter-spacing: 2.5px;
}
#time{
  color:rgb(68,66,66);
border-width: 3px;
height: 36px;
border-radius: 4px;
border-style: dotted;
border-color:rgb(68,66,66);
margin-top: 8px;
}
.no-records {
  text-align: center;
  clear: both;
  margin: 38px 0px;
}
.social_link{
height: 20px;
}
#img{
position: relative;
top: 10px;
width: auto;
}
